*.agdai
references/

thesis/*
thesis/images/*.pdf
!thesis/defense/defense.pdf
!thesis/defense/defense.tex
!thesis/topicdeclaration.pdf
!thesis/thesis.pdf
!thesis/thesis.bib
!thesis/thesis.tex
!thesis/elteikthesis*
!thesis/images/
!thesis/sections/
